.reveal ul {
    line-height: 1.5 !important;
}

.slide-number {
    font-size: 36px !important;
}

.progress {
    height: 10px !important;
}

.reveal footer {
    position: absolute;
    bottom: 30px;
    left: 0px;
    font-size: 20px;
}

.reveal footer div {
    display: inline-block;
}

.reveal footer img {
    margin-right: 3px;
}